# # .env.example
# NODE_ENV=development
# PORT=3001

# # Database
# DB_HOST=localhost
# DB_PORT=5432
# DB_USERNAME=postgres
# DB_PASSWORD=postgres
# DB_DATABASE=task_db


# .env
# NODE_ENV=development
PORT=3001


# NODE_ENV=development
# PORT=3001
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=task_db
DB_PORT=5432


# Database
# DB_HOST=localhost
# DB_PORT=5432
# DB_USERNAME=postgres
# DB_PASSWORD=postgres
# DB_DATABASE=task_db

# DB_HOST=postgresql-189239-0.cloudclusters.net
# DB_PORT=10007
# DB_USERNAME=task_user
# DB_PASSWORD=da67858e-6440-4faa-a688-f194a6570b75
# DB_DATABASE=task_db



# DB_HOST=postgresql-189239-0.cloudclusters.net
# DB_PORT=10007
# DB_USERNAME=task_user
# DB_PASSWORD=da67858e-6440-4faa-a688-f194a6570b75
# DB_DATABASE=task_db


# Recommended for most uses
DATABASE_URL=postgres://neondb_owner:IiRCGQM54DuN@ep-tight-king-a5ntluwv-pooler.us-east-2.aws.neon.tech/neondb?sslmode=require

# For uses requiring a connection without pgbouncer
DATABASE_URL_UNPOOLED=postgresql://neondb_owner:IiRCGQM54DuN@ep-tight-king-a5ntluwv.us-east-2.aws.neon.tech/neondb?sslmode=require

# Parameters for constructing your own connection string
PGHOST=ep-tight-king-a5ntluwv-pooler.us-east-2.aws.neon.tech
PGHOST_UNPOOLED=ep-tight-king-a5ntluwv.us-east-2.aws.neon.tech
PGUSER=neondb_owner
PGDATABASE=neondb
PGPASSWORD=IiRCGQM54DuN

# Parameters for Vercel Postgres Templates
POSTGRES_URL=postgres://neondb_owner:IiRCGQM54DuN@ep-tight-king-a5ntluwv-pooler.us-east-2.aws.neon.tech/neondb?sslmode=require
POSTGRES_URL_NON_POOLING=postgres://neondb_owner:IiRCGQM54DuN@ep-tight-king-a5ntluwv.us-east-2.aws.neon.tech/neondb?sslmode=require
POSTGRES_USER=neondb_owner
POSTGRES_HOST=ep-tight-king-a5ntluwv-pooler.us-east-2.aws.neon.tech
POSTGRES_PASSWORD=IiRCGQM54DuN
POSTGRES_DATABASE=neondb
POSTGRES_URL_NO_SSL=postgres://neondb_owner:IiRCGQM54DuN@ep-tight-king-a5ntluwv-pooler.us-east-2.aws.neon.tech/neondb
POSTGRES_PRISMA_URL=postgres://neondb_owner:IiRCGQM54DuN@ep-tight-king-a5ntluwv-pooler.us-east-2.aws.neon.tech/neondb?pgbouncer=true&connect_timeout=15&sslmode=require

VERCEL_TOKEN=IjZVjHODQoshLfzhivqh213c
VERCEL_TEAM=farhan-yaseens-projects-ed557b09

# DB_HOST=ep-tight-king-a5ntluwv-pooler.us-east-2.aws.neon.tech
# DB_PORT=5432
# DB_USERNAME=neondb_owner
# DB_PASSWORD=IiRCGQM54DuN
# DB_DATABASE=neondb